
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# When configure fails, SCons outputs these
config.log
.sconf_temp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

!TiltFiveNDK/lib/*/*

# Executables
*.exe
*.out
*.app

# some VS things
*.pdb
*.idb
*.code-workspace
*.ilk
*.exp

.vscode
.compile_commands.json
compile_commands.json

addons

build